<section id="register-container">
  <div id="register-form">
    <h1 mat-dialog-title>Register</h1>

    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput type="text" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your lastname</mat-label>
      <input matInput type="text" [(ngModel)]="lastname">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput type="text" [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)=" hide=!hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onRegister()">Create account</button>
  </div>
</section>